/**
 * Code
 */
// Prevent FOUC by hiding code examples
// until prism.js finishes processing

.item__example {
    visibility: hidden;

    &[class*="language-"] {
        visibility: visible;
    }
}

:not(pre) > code {
  padding: 2px 4px;
  background-color: transparent;

  .text-muted {
    color: #bb647a !important;
  }
}

/**
 * Visually-hidden
 */
.visually-hidden {
  @include visually-hidden;
}