.wdesk-docs-sidebar .nav > li > .hitarea {
  > .sidebar__annotation {
    font-weight: normal !important;
    color: #ccc !important;

    &:before { content: "("; }
    &:after { content: ")"; }
  }
}